/* General page styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6fa;
  color: #222;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items : center ; 
}

/* Title */
h1 {
  text-align: center; 
  margin-bottom: 30px;
  font-size: 28px;
  color: #0033cc;
}

/* Table */
.songs-table {
  width: 100%;
  max-width: 1000px;
  background-color: #ffffff;
  padding: 20px;
  borde-collaspse : collapse; 
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

/* Header row */
.songs-table thead {
  background-color: #0033cc;
  color: #ffffff;
}

.songs-table th {
  background-color:#0077cc;
  colore:white; 
  padding: 14px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.5px;
  width:33%;
}

/* Table rows */
.songs-table td {
  border-bottom: 1px solid #e0e0e0;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
}

.songs-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Image style */
.songs-table img {
  width: 120px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* YouTube video style */
.songs-table iframe {
  width: 320px;
  height: 180px;
  border: none;
  border-radius: 6px;
}

/* Hover effect */
.songs-table tr:hover {
  background-color: #eef3ff;
  transition: background-color 0.3s ease;
}
